<template>
  <v-content>
    <v-container>
      <v-flex md8 offset-md2>
        <v-layout row wrap>
          <v-flex xs4 align-center align-start style="position: relative">
            <v-btn fab dark depressed color="red" class="subir-boton-izq">
              <v-icon>mdi-message-text</v-icon>
            </v-btn>
          </v-flex>
          <v-flex xs4 align-center justify-center layout text-xs-center>
            <v-avatar :size="160" color="grey lighten-4" class="img-profile">
              <img
                src="//belephant.co/blog/wp-content/uploads/2015/04/10623080_1536142486608459_7375370614005310522_n-300x300.jpg"
                alt="avatar"
                style="border: 2px solid white;"
              >
            </v-avatar>
          </v-flex>
          <v-flex xs4 align-center justify-end layout>
            <v-btn fab dark depressed color="blue" class="subir-boton-der">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-container>
    <v-container>
      <v-layout row wrap>
        <v-flex
          xs12
          align-start
          justify-center
          layout
          tag="h1"
          class="dispaly-2 font-weight-regular"
        >Nombre Persona</v-flex>
        <v-flex
          xs12
          align-start
          justify-center
          layout
          tag="h2"
          class="font-weight-light light-blue--text"
        >Cargo Persona</v-flex>
        <v-flex
          xs12
          align-start
          justify-center
          layout
          tag="p"
          class="body-1 font-weight-light"
          pt-2
        >
          <v-icon color="red">mdi-map-marker</v-icon>Quito, Ecuador
        </v-flex>
      </v-layout>
    </v-container>
    <v-container text-xs-center>
      <v-layout row wrap></v-layout>
    </v-container>
    <v-container text-xs-center></v-container>
  </v-content>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";
@Component
export default class HelloWorld extends Vue {}
</script>
