<template>
  <v-app>
    <v-content>
      <div class="grid-container pa-0 full-h" v-if="loading">
        <div class="grid-x full-h">
          <div class="cell full-h">
            <v-card class="full-h">
              <div class="top-figure left-curve"></div>
               <div class="top-figure right-curve"></div>
              <v-card-text class="grid-x" style="position:relative">
                <div class="cell shrink" style="width:60px">
                  <v-btn fab top absolute dark color="accent" :href="'mailto:'+info.email">
                    <v-icon>mdi-message-text</v-icon>
                  </v-btn>
                </div>
                <div class="cell auto" style="text-align: center">
                  <v-avatar :size="240" color="grey lighten-4 " class="img-profile">
                    <img :src="'https://qr.bigbrige.app/images/'+info.image" alt="avatar" style="border: 10px solid #4fc0d8;">
                  </v-avatar>
                </div>
                <div class="cell shrink" style="width:50px">
                  <v-btn fab dark color="primary" top absolute :href="'tel:'+ info.phone">
                    <v-icon>mdi-phone</v-icon>
                  </v-btn>
                </div>
                <div class="cell">
                  <v-flex
                    xs12
                    align-start
                    justify-center
                    layout
                    tag="h1"
                    class="dispaly-2 font-weight-bold primary--text pb-4"
                  >{{info.firstname}} {{info.lastname}}</v-flex>
                  <v-flex
                    xs12
                    align-start
                    justify-center
                    layout
                    tag="h2"
                    class="font-weight-light light-blue--text pt-2 pb-4"
                  ><div class="puesto">{{info.puesto}}</div>               
                  </v-flex>
                  
                  <v-flex
                    xs12
                    align-start
                    justify-center
                    layout
                    tag="p"
                    class="body-1 font-weight-light"
                    pt-2
                  >
                    <v-icon color="accent">mdi-map-marker</v-icon>
                    <span v-show="info.city" class="text-capitalize pr-1">{{info.city}},</span>
                    Ecuador
                  </v-flex>
                </div>
                <div class="cell">
                  <v-flex
                    xs12
                    align-center
                    justify-center
                    layout
                    tag="p"
                    class="font-weight-light text-xs-center"
                  >{{info.description}}</v-flex>
                </div>
                <div class="cell">
                  <div class="text-xs-center" v-show="info.phone">
                    <v-chip color="#f2f2f2">
                      <v-avatar color="#f2f2f2">
                        <v-icon color="accent">mdi-phone</v-icon>
                      </v-avatar>
                      {{info.phone}}
                    </v-chip>
                  </div>
                  <div class="text-xs-center pt-2" v-show="info.email">
                    <v-chip color="#f2f2f2">
                      <v-avatar color="#f2f2f2">
                        <v-icon color="accent">mdi-email</v-icon>
                      </v-avatar>
                      {{info.email}}
                    </v-chip>
                  </div>
                </div>
              </v-card-text>
            </v-card>
          </div>
        </div>
      </div>
      <div class="full-h" v-else>
        <div class="grid-x full-h align-center align-middle">
          <div class="cell auto"></div>
          <div class="cell shrink">
            <v-progress-circular color="blue" size="64" width="10" indeterminate></v-progress-circular>
          </div>
          <div class="cell auto"></div>
        </div>
      </div>
    </v-content>
    <v-footer color="blue darken-4" class="pa-3" fixed app>
      <small class="white--text">Powered by Monkey Plus</small>
      <v-spacer></v-spacer>
      <small class="white--text">Seguros del Pichincha &copy; {{ new Date().getFullYear() }}</small>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';
@Component
export default class App extends Vue {
  public loading = false;
  public info = {};
  public mounted() {
    const query = this.$route.query;
    if (query && query.url) {
      axios
        .post('https://qr.bigbrige.app/proxy/v3/directorio/url', {
          url: query.url,
        })
        .then((r) => {
          this.info = r.data;
          this.loading = true;
        });
    }

    // axios.get('/user/ui')
  }
}
</script>

<style lang="scss">
  .full-h {
    height: 100%;
  }
  .img-profile {
    position: relative;
    top: -140px;
    margin-bottom: -100px;
  }
  .puesto {
    background: #005daa;
    color: #ffffff;
    padding: 14px 32px;
    border-radius: 28px;
    min-width: 85%;
    text-align: center;
    position: relative;
}
.puesto::after {
  content: '';
  background: #4fc0d8;
  height: 12px;
  width: 100px;
  border-radius: 6px;
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -50px;
}
.top-figure {
    background: #005daa;  
    height:170px;  
    width: 50%;
    position: relative;
    top: 0px;
    float: left;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.left-curve {
    border-radius: 0px 0px 0px 120px;;
}
.right-curve {
    clip-path: polygon(100% 0, 100% 17%, 21% 100%, 0 100%, 0 0);
}
</style>
